<!-- base.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>
            {% block title %} {% endblock %}
        </title>
<!--導入 bootshrap CDN 使用bootshrap功能-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class='container-fluid'>
            {% include 'header.html' %}
            <div class='row'>                   <!--用row及col-->
                <div class='col-sm-4 col-md-4'>
                    <div class='panel panel-default'>   <!--面板樣式-->
                        <div class="panel panel-primary">
                            <div class='panel-heading'>
                                <h3>
                                    MENU
                                </h3>
                            </div>
                            <div class='panel-body'>
                                <div class='list-group'>
                                    <a href='/' class='list-group-item' >Home</a>
                                    <a href='https://tw.news.yahoo.com/' class='list-group-item' target="_blank">Yahoo news</a>
                                    <a href='https://tw.news.yahoo.com/weather/' class='list-group-item' target="_blank">Weather</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-8 ol-md-8'>
                    <div class='panel panel-default'>   <!--面板樣式-->
                        <div class="panel panel-primary">
                            <div class='panel-heading'>
                                {% block headmessage %} {% endblock %}
                            </div>
                        </div>
                        <div class='panel-body'>
                            {% block content %} {% endblock %}
                        </div>
                        <div class='panel-footer'>
                            {% include 'footer.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>